<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ATLA Community</title>
        <!-- ============= FONTS ============= -->
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
        <!-- ============= STYLES ============= -->
        <link rel="stylesheet" href="/css/styles.css">
      </head>
<body>
    
</body>
</html>