<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>


    <header>
      <h1>Welcome to the Avatar Community</h1>
    </header>
    
    <body class="main-index-background">
    <p>Welcome to the Avatar Community! This a collaborative site for all Avatar the Last Airbender fans to enjoy. This site is meant to serve as a space for ATLA fans to add, edit, and enjoy info on the characters of ATLA. All characters are divided into their respective nations and have a fun fact as well as basic info. As previously mentioned this is meant to be a collaborative space for all to enjoy. If there's a character missing from the page, you have the freedom to update the page so that the information is correct! Pretty fun right? Fans can also add characters that may be missing, and even delete characters that have been placed in the wrong nation or are just fictional creations added by those who aren't really fans. Enjoy responsibly, this is a community for all of us to enjoy! Remember: "With great power, comes great responsibility"! &#128516 </p>
    <div class="nation-links">          
        <a href="/earth">Earth Kingdom</a>
        
        <a href="/water">Water Tribe</a>
            
        <a href="/air">Air Nomads</a>
            
        <a href="/fire">Fire Nation</a>
    </div>
  </body>
</html>
