<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body class="earth-index-background">
    <h1>Characters of Earth Nation</h1>
    <a href="/">Home</a>
    <a href="/earth/new">Add Character</a>
    <div class="index-container" id="images">
      <% for(let i = 0; i < earthlings.length; i++){ %>
      <div class="loop-elements">
        <h2><%= earthlings[i].indexName %></h2>
        <a href="/earth/<%= earthlings[i]._id; %>"
          ><img src="<%= earthlings[i].indexImg %>" alt="More Info" /></a
        ><br />
      </div>
      <% } %>
    </div>
  </body>
</html>
