<!DOCTYPE html>
<html lang="en">
  
  
<body>
    <h1>Add New Character</h1>
    <form action="/earth" method="POST">
        Nickname: <input type="text" name="indexName" /> <br/>
        Full Name: <input type="text" name="fullName" /> <br/>
        Age: <input type="text" name="age" /> <br/>
        Interesting Fact: <input type="text" name="interestingFact" /> <br/>
        Gallery Photo: <input type="text" name="indexImg" /> <br/>
        Profile Photo: <input type="text" name="showImg" /> <br/>
        <input type="submit" name="" value="Submit" />
    </form>
</body>
</html>