<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body class="air-show-forms-background">
    <h1>Edit Character Info</h1>
    <form action="/air/<%= nomad._id %>?_method=PUT" method="POST">
      Nickname: <input type="text" name="indexName" /> <br />
      Full Name: <input type="text" name="fullName" /> <br />
      Age: <input type="text" name="age" /> <br />
      Interesting Fact: <input type="text" name="interestingFact" /> <br />
      Gallery Photo: <input type="text" name="indexImg" /> <br />
      Profile Photo: <input type="text" name="showImg" /> <br />
      <input class="submit" type="submit" name="" value="Update" />
    </form>
  </body>
</html>
