<!DOCTYPE html>
<html lang="en">
  
  
<body>
    <h1>Edit Character Info</h1>
    <form action="/earth" method="POST">
        Nickname: <input type="text" name="indexName" /> <br/>
        Full Name: <input type="text" name="fullName" /> <br/>
        Age: <input type="text" name="age" /> <br/>
        Interesting Fact: <input type="text" name="interestingFact" /> <br/>
        <input type="submit" name="" value="Update" />
    </form>
</body>
</html>