<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body class="air-index-background">
    <h1>Characters of Air Nomads</h1>
    <a href="/">Home</a>
    <a href="/air/new">Add Character</a>
    <div class="index-container" id="images">
      <% for(let i = 0; i < nomads.length; i++){ %>
      <div class="loop-elements">
        <h2><%= nomads[i].indexName %></h2>
        <a href="/air/<%= nomads[i]._id; %>"
          ><img src="<%= nomads[i].indexImg %>" alt="More Info" /></a
        ><br />
      </div>
      <% } %>
    </div>
  </body>
</html>
