<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Characters of Air Nomads</h1>
    <a href="/">Home</a>
    <a href="/air/new">Add Character</a>
    <div class="airList">
        <% for(let i = 0; i < nomads.length; i++){ %>
            <div class="airLoopElements"
                <h3><%= nomads[i].name %></h3>
                <a href="/air/<%= nomads[i]._id; %>"><img src="<%= nomads[i].indexImg %>"></a><br/>
            </div>
        <% } %>
        </div>
</body>
</html>