<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Characters of Fire Nation</h1>
    <a href="/">Home</a>
    <a href="/fire/new">Add Character</a>
    <div class="fireList">
        <% for(let i = 0; i < firelings.length; i++){ %>
            <div class="fireLoopElements"
                <h3><%= firelings[i].name %></h3>
                <a href="/fire/<%= firelings[i]._id; %>"><img src="<%= firelings[i].indexImg %>"></a><br/>
            </div>
        <% } %>
        </div>
</body>
</html>