<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body class="fire-index-background">
    <h1>Characters of Fire Nation</h1>
    <a href="/">Home</a>
    <a href="/fire/new">Add Character</a>
    <div class="index-container">
      <% for(let i = 0; i < firelings.length; i++){ %>
      <div class="loop-elements" id="images">
        <h2><%= firelings[i].indexName %></h2>
        <a href="/fire/<%= firelings[i]._id; %>">
          <img src="<%= firelings[i].indexImg %>" alt="More Info"></a>
      </div>
      <% } %>
    </div>
  </body>
</html>
