<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body class="water-index-background">
    <h1>Characters of the Water Tribe</h1>
    <a href="/">Home</a>
    <a href="/water/new">Add Character</a>
    <div class="index-container">
      <% for(let i = 0; i < waterlings.length; i++){ %>
      <div class="loop-elements" id="images">
        <h2><%= waterlings[i].indexName %></h2>
        <a href="/water/<%= waterlings[i]._id; %>"
          ><img src="<%= waterlings[i].indexImg %>" alt="More Info" /></a
        ><br />
      </div>
      <% } %>
    </div>
  </body>
</html>
