<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Characters of the Water Tribe</h1>
    <a href="/">Home</a>
    <a href="/water/new">Add Character</a>
    <div class="waterList">
        <% for(let i = 0; i < waterlings.length; i++){ %>
            <div class="waterLoopElements"
                <h3><%= waterlings[i].name %></h3>
                <a href="/water/<%= waterlings[i]._id; %>"><img src="<%= waterlings[i].indexImg %>"></a><br/>
            </div>
        <% } %>
        </div>
</body>
</html>